<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial scale=1.0">
    <title>Ascii_art_web</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <button type="button" class="Home_Button" onclick="window.location.href='/'">
            <img src="/images/Home_Button.svg" alt="Home Button">
        </button>
        <div class="Pipe1">
            <img src="/images/Pipe1.svg" alt="Pipe 1">
        </div>
        <button type="button" class="About_Button" onclick="window.location.href='/about'">
            <img src="/images/About_Button.svg" alt="About Button">
        </button>
        <div class="Pipe2">
            <img src="/images/Pipe2.svg" alt="Pipe 2">
        </div>
        <button type="button" class="Readme_Button" onclick="window.location.href='/readme'">
            <img src="/images/Readme_Button.svg" alt="Readme Button">
        </button>
    </div>
    <div class="Banner">
        <img src="/images/Banner_400_invalid_entry.svg" alt="Banner">
    </div>

    <div class="center-button">
        <a href="/" class="home-link"><img src="/images/Home_Icon.svg" alt="Home Link"></a>
    </div>

</body>

</html>