<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ascii_art_web</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <script src="/static/inputsize.js" defer></script>
</head>

<body>
    <div class="navbar">
        <button type="button" class="Home_Button" onclick="window.location.href='/'">
            <img src="/images/Home_Button.svg" alt="Home Button">
        </button>
        <div class="Pipe1">
            <img src="/images/Pipe1.svg" alt="Pipe 1">
        </div>
        <button type="button" class="About_Button" onclick="window.location.href='/about'">
            <img src="/images/About_Button.svg" alt="About Button">
        </button>
        <div class="Pipe2">
            <img src="/images/Pipe2.svg" alt="Pipe 2">
        </div>
        <button type="button" class="Readme_Button" onclick="window.location.href='/readme'">
            <img src="/images/Readme_Button.svg" alt="Readme Button">
        </button>
    </div>
    <div class="Title">
        <img src="images/About_Title.svg">
    </div>

    <div class="Text" style="justify-content: center;">
        <h1>Welcome</h1>
        <p class="Welcome">
            Welcome to the ASCII Art Generator website! This website allows you to turn text into ASCII art using
            different styles.
            You can download the content in text or HTML formats, or copy the art to the clipboard.

        </p>
        <h1>Project Overview</h1>
        <p class="Project_Overview">
            This project, as part of the ZONE01 coursework, comprises several exercises aimed at mastering various
            aspects
            of web
            development, particularly using Go and CSS. Our focus has been on creating a user-friendly interface,
            implementing
            robust functionalities, and ensuring the overall consistency and responsiveness of our web application.
        </p>
        <h1>Technologies</h1>
        <p class="Technologies">
            Technologies
            The website was built using Go, HTML, CSS, and JavaScript to deliver an intuitive experience.

        </p>
        <h1>Objectives</h1>
        <p class="Objectives">
            We aimed to achieve the following objectives:

            ASCII-Art-Web: Developing a web GUI to interact with the ASCII-art project, using various banners and
            ensuring a
            smooth
            user experience.

            ASCII-Art-Stylize: Enhancing site appeal by making it more interactive and intuitive, ensuring usability and
            feedback.

            ASCII-Art-Web-Export: Implementing features to export the output of our web application in various formats
            with
            proper
            HTTP headers.

            ASCII-Art-Web-Dockerize: Containerizing our application with Docker, ensuring efficient management and
            deployment.

        </p>

        <h1>Learning Outcomes</h1>
        <p class="Learning">
            Through this project, we have gained a comprehensive understanding of:

            Human-Computer Interaction: Principles of making interfaces that are effective and enjoyable to use.

            CSS Basics: Creating visually appealing and responsive web pages.

            HTTP Protocols and Headers: Understanding the backbone of web communication.

            Dockerization: Efficiently managing and deploying applications using Docker.

        </p>

        <h1>Meet The Team</h1>
        <p class="Meet_Team">
            Oussama Atmani: An aspiring developer with a strong will to learn, a sharp focus, and a natural leader
            mentality.

            Soufiane El Walid: A dedicated development student proficient in C, C++ and maths, whose immense help and
            essential
            contributions made this project a success.

        </p>

        <h1>Contact</h1>
        <p class="Join_Contact">
            We invite you to explore our project, provide feedback, and constructive criticism. Together, let's create
            amazing web
            experiences!
            If you have any questions or feedback, feel free to contact us at our email: borntolearn314@gmail.com.

        </p>





    </div>
</body>